/ShakeSuppresion.iml
/gradlew
/settings.gradle
/gradlew.bat
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle.properties
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea
*.jar
